.login {
  background-image: url(../img/slider/1.jpg);
}

.register, .login {
  position: relative;
  background-image: url(../img/slider/2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: calc( 100vh - 92px);
}

.register::before, .login::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.register .card, .login .card {
  position: relative;
  background: #1a1a1aaf;
  -webkit-box-shadow: 0 0 20px 20px #1a1a1aaf;
          box-shadow: 0 0 20px 20px #1a1a1aaf;
  -webkit-animation: show .3s .5s alternate both;
          animation: show .3s .5s alternate both;
}

.register .card .form-control, .login .card .form-control {
  background: #4e4d4dd2;
  color: white;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.register .card .form-control:valid, .login .card .form-control:valid {
  -webkit-box-shadow: 0 0 0 0.25rem #d9d9d977;
          box-shadow: 0 0 0 0.25rem #d9d9d977;
}

.register .card .btn-light, .login .card .btn-light {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.register .card .btn-light:hover, .login .card .btn-light:hover {
  background: #303030;
  color: white;
  -webkit-box-shadow: 0 0 0 0.25rem #d9d9d977;
          box-shadow: 0 0 0 0.25rem #d9d9d977;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
